<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
			<title>Article card template</title>
		<link rel="stylesheet" href="../static/css/styles.css" th:href="${'/css/styles.css'}" />
	</head>
	<body>
		<div class="card card-hero" th:fragment="articleCardHero" th:attr="data-article_id=${article.id}" onclick="viewArticle(this)">
			<img
				th:src="${article.imageUrl}"
				th:alt="${article.altText}"
				src="https://picsum.photos/500/300"
				alt="Oh look! An image!"
			/>
			<h1 th:text="${article.title}">Article Title</h1>
			<div class="article-catchline" th:text="${article.catchline}">This article will blow your mind!</div>
			<div class="card-footer">
				<div class="article-caption">
					<span class="article-author" th:text="${article.author}">John Doe</span>
					<span class="article-created" th:text="${#dates.format(article.created, 'dd.MM.yyyy HH:mm')}">01.01.1900 12:34:56</span>
				</div>
			</div>
		</div>
		<div class="card card-with-image" th:fragment="articleCardWithImage" th:attr="data-article_id=${article.id}" onclick="viewArticle(this)">
			<img
				th:src="${article.imageUrl}"
				th:alt="${article.altText}"
				src="https://picsum.photos/200/150"
				alt="Oh look! An image!"
			/>
			<h2 th:text="${article.title}">Article Title</h2>
			<div class="article-catchline" th:text="${article.catchline}">This article will blow your mind!</div>
			<div class="card-footer">
				<div class="article-caption">
					<span class="article-author" th:text="${article.author}">John Doe</span>
					<span class="article-created" th:text="${#dates.format(article.created, 'dd.MM.yyyy HH:mm')}">01.01.1900 12:34:56</span>
				</div>
			</div>
		</div>
		<div class="card card-small" th:fragment="articleCardSmall"  th:attr="data-article_id=${article.id}" onclick="viewArticle(this)">
				<h3 th:text="${article.title}">Article Title</h3>
				<div class="card-footer">
					<div class="article-caption">
						<span class="article-author" th:text="${article.author}">John Doe</span>
						<span class="article-created" th:text="${#dates.format(article.created, 'dd.MM.yyyy HH:mm')}">01.01.1900 12:34:56</span>
					</div>
				</div>				
			</div>
		</body>
</html>
