@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap");

:root {
	--bgcolor-dark: #242c2c;
	--bgcolor-dark2: #444c4c;
	--toolbar-height: 75px;
	--userdetails-height: 35px;
	--nav-height: calc(var(--toolbar-height) + var(--userdetails-height));
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
	padding: 0px;
	max-width: 100%;
	width: 100%;
	min-width: 100%;
}

body {
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	background-color: #d4cfcc;
	color: #1f0f0f;
	padding-top: var(--nav-height);
}

a {
	text-decoration: none;
	color: #1f0f0f;
	font-weight: bold;
	font-style: italic;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Merriweather", serif;
	margin-top: 0px;
}

blockquote {
	background: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 15px 15px;
	border-radius: 5px;
	font-style: italic;
	font-family: Merriweather, serif;
}

blockquote p {
	margin: 0px;
}

code {
	background: #223311;
	color: #eeeeee;
	font-family: monospace;
	padding-left: 5px;
	padding-right: 5px;
}

pre {
	white-space: pre-wrap;
}

pre code {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	display: block;
	padding: 20px;
}

.text-center {
	text-align: center;
}

.copyright {
	font-size: 0.7em;
}

.link-large {
	font-size:2em;
	margin:50px;
}

.label {
	font-weight: bold;
	font-size: 1.3em;
}

.label-block {
	display: block;
}

/**
*	Card styles
*/

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left:-7px;
}

.card {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	margin-top: 10px;
	margin-left: 7px;
	position: relative;
	padding-bottom: 30px;
	background: white;
	word-wrap: break-word;
}

.card-footer {
	height: 20px;
	line-height: 20px;
	position: absolute;
	bottom: 0px;
	width: calc(100% - 20px);
}

.card:hover {
	border-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}

.card img {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.card h1,
.card h2,
.card h3 {
	margin: 0px;
}

.card-hero {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	margin-top: 0px;
	margin-left: 0px;
}

.card-hero h1 {
	font-size: 4em;
}

.card-with-image {
	font-size: 16px;
	*max-width: 32%;
	flex: 1 1 30%;
	display: inline-block;
}

.card-with-image img {
	width:100%;
}

.card-with-image h2 {
	font-size: 2em;
}

/**
*	Article specific styles
*/

.article-caption {
	font-size: 0.7em;
	font-family: Merriweather, serif;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.article-author {
	font-weight: 700;
}

.article-created {
	font-style: italic;
}

.edit-article-link {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid rgba(0,0,0,0.2);
	margin-top: 10px;
	font-size: 0.7em;
	background: #eeeeee;
	border-radius: 3px;
}

.edit-article-link:hover {
	text-decoration: none;
	box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.article-container {
	width: 800px;
	margin:10px auto;
	padding:20px;
	background:white;
	border:1px solid #999999;
}

.article-container img {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.article-title {
	margin-bottom: 10px;
}

.article-byline {
	font-weight:900;
	font-size: 0.7em;
}

.article-ingress {
	margin-top: 30px;
	font-style: italic;
}

.article-body {
	margin-top: 30px;
	width: 100%;
}

/**
*	Editor Styles
*/

.editor-component {
	margin-top: 30px;
}

.editor-control {
	margin-top: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	padding: 10px 15px;
	font-size: 1em;
	line-height: 1em;
	width: 100%;
}

.editor-textarea {
	padding: 20px;
	font-size: 1em;
	line-height: 1em;
}

#article_ingress_textarea {
	*height: 200px;
}

#article_body_textarea {
	*height: 500px;
}

.editor-button {
	background: #33aa33;
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1.5em;
	padding: 20px 10px;
}

.editor-button:hover {
	cursor: pointer;
	box-shadow: inset 0px 0px 7px 2px rgba(0, 100, 0, 0.7);
}

.editor-button:focus {
	outline: none;
}

.preview-area {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.preview-area p:first-child {
	margin: 0px;
}

/**
*	Login styles
*/

.login-form {
	max-width: 500px;
	width: 500pX;
	margin-left: auto;
	margin-right: auto;
}

.login-component {
	margin-top: 30px;
}

.login-control {
	margin-top: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	padding: 10px 15px;
	font-size: 1em;
	line-height: 1em;
	width: 100%;
}

.login-button {
	background: #33aa33;
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1.5em;
	padding: 10px 5px;
}

.login-button:hover {
	cursor: pointer;
	box-shadow: inset 0px 0px 7px 2px rgba(0, 100, 0, 0.7);
}

.login-button:focus {
	outline: none;
}

.login-error {
	color: #660000;
	padding: 5px;
	border: 1px solid #cc6666;
	background: #ffcccc;
	text-align: center;
	border-radius: 4px;
}

/**
*	Nav / Toolbar styles
*/

nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: var(--nav-height);
	background: var(--bgcolor-dark,#342f2c);
	color: #f4efec;
	z-index: 99999;
}

#toolbar {
	float: right;
	height: var(--toolbar-height);
	font-size: 1.2em;
	display: inline-block;
}

#toolbar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#toolbar .menu-item {
	float: right;
	line-height: var(--toolbar-height);
	vertical-align: middle;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
}

#toolbar .menu-item .menu-link {
	text-decoration: none;
	font-style: italic;
	cursor: pointer;
	color: #f4efec;
}

#toolbar .menu-item .menu-link:hover {
	border-bottom: 7px solid #d4cfcc;
	padding-bottom: 5px;
}

#toolbar .menu-button {
	color: #f4efec;
	border: 0px;
	font: inherit;
	background:inherit;
	padding:0px;
}

.menu-button:focus, .menu-button:active {
	outline: none;
}

#loggedInUserInfoBar {
	height: var(--userdetails-height);
	line-height: var(--userdetails-height);
	background: var(--bgcolor-dark2);
	text-align: right;
	padding-right: 20px;
}

#loggedInUserInfoBar span {
	display:inline-block;
	font-style:italic;
}
/**
*	Main container styles
*/

#main-container {
	width: 900px;
	max-width: 900px;
	min-width: 900px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border:1px solid rgba(0,0,0,0.3);
	background: rgba(255,255,255,0.7);
	padding: 30px;
}

#main-container.no-articles {
	text-align: center;
}

/**
*	Right Container styles
*/

#right-container {
	width: 235px;
	max-width: 225px;
	min-width: 225px;
	position: absolute;
	left: 910px;
	top: 0px;
	padding: 5px;
	bottom: 0px;
	background: rgba(255, 255, 255, 0.7);
}

#right-container > h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#right-container > .card {
	margin-left:0px;
}

/**
*	Footer Styles
*/

#footer {
	background: var(--bgcolor-dark,#342f2c);
	color: #f4efec;
	padding: 20px;
	margin-top: 30px;
	font-weight: 400;
}

#footer a {
	color: #f4efec;
}

.footer-content {
	display: flex;
	flex-wrap: muliline;
	justify-content: stretch;
}

.footer-left, .footer-right {
	margin-left: 55px;
	margin-right: 55px;
	min-width: 430px;
}

#footer .icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	width: 430px;
}

#footer .icons .icon-item {
	display: inline-block;
	padding: 0 0.65em 0 0;
}

#footer .icons .icon-item:last-child {
	padding-right: 0 !important;
}

/**
* Icon styles 
*/

.icon {
	text-decoration: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
}

a.icon:hover {
	text-decoration: none;
}

.icon > .label {
	display: none;
}

.icon:before {
	line-height: solid;
}

.icon.brands:before {
	font-family: "Font Awesome 5 Brands";
}

.icon.alt {
	display: inline-block;
	border: solid 1px;
	border-radius: 100%;
}

.icon.alt:before {
	display: block;
	font-size: 1.25em;
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 2em;
}

.icon.alt {
	border-color: rgba(255, 255, 255, 0.35);
	color: #f4efec;
}

.icon.alt:hover {
	background-color: rgba(255, 255, 255, 0.075);
}

.icon.alt:active {
	background-color: rgba(255, 255, 255, 0.2);
}

/**
*	Media queries
*/

@media screen and (max-width: 800px) {
	.card-small .article-caption .article-author {
		display: block;
		float: none;
	}
	.card-small .article-caption .article-created {
		display: block;
		float: none;
	}

	.card-hero h1 {
		font-size: 3em;
	}

	.card-with-image h2 {
		font-size: 1.8em;
	}
}
@media screen and (max-width: 600px) {
	.card-small,
	.card-with-image,
	.card-hero {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		display: block;
		float: none;
	}
	.card-small .article-caption .article-author {
		float: left;
	}
	.card-small .article-caption .article-date {
		float: right;
	}

	.card-hero h1 {
		font-size: 2em;
	}

	.card-with-image h2 {
		font-size: 1.5em;
	}
}
