<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<head th:replace="fragments/header :: html_header">
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="'Faux News - Where Truth Is Optional'">Home Template</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
		<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
		<script src="../static/js/blog.js" th:src="@{/js/blog.js}"></script>
	</head>
    <body th:style="${#authorization.expression('isAuthenticated()')} == false ? '--userdetails-height:0px; --nav-height: var(--toolbar-height);'">
        <div class="header" th:replace="fragments/header :: header">
            <nav>
                <img id="logo" src="https://picsum.photos/200/75">
                <div id="toolbar">
                    <ul>
                        <li class="menu-item"><a href="/" class="menu-button">Home</a></li>
                        <li class="menu-item"><a href="/about" class="menu-button">About</a></li>
                        <li class="menu-item"><a href="/login" class="menu-button">Log In</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="main-container">
            <h1>About</h1>
            <h2>The Tech</h2>
            <p>
                This project is just a demo application made to experiment with the Spring Boot-stack.
                It uses Spring Boot 2.1.9 in Java 11 (though no fancy features was used in the making of
                this project). It's a rather standard Server Side Rendered application using Thymeleaf,
                Spring Boot Data with MySQL, Spring Boot Security, Spring Boot Web and some other bits 
                and pieces.
            </p>
            <p>
                One noteworthy bit though, is FlexMark. It's a great project for converting between Markdown
                and HTML, with a lot of nice features. I did not want to spend my time on this project 
                implementing an advanced editor with formatting, so I chose to throw up a simple textarea
                and allow the writers to use Markdown to format the articles. This is converted to HTML 
                when the articles are rendered, and leaves the Markdown in the database for easy editing later.
            </p>
            <p>
                Client side, I used Showdown to give the authors a live preview-area of the expected result
                though some minor differences, like background colors, will occur.
            </p>
            <h2>The Code</h2>
            <p>
                If you would like to use or steal the project, you are free to do so, as this project is 
                licensed under the MIT license. It is hosted on <a 
                href="https://github.com/hakash/faux-news.git" target="_blank">GitHub</a>, so feel free to
                take a peek.
            </p>
            <h2>The Author</h2>
            <p>
                My name it Morten Olsrud. I've been enjoying the wonderful world of tech for as long as I can
                remember, and since I am a child of the eighties, that is as long time. Once I found out that 
                <em>I</em> could make the computers do what I wanted, there was no turning back. I was hooked.
            </p>
            <p>
                In 2003 I landed my first developer job, fresh out of school, with the self confidence only
                an ignorant <em>n00b</em> can have. Fast forward to today, and I'm still at it, though without
                the ignorance, a humbleness towards knowing all too well how much I still don't know.
            </p>
            <p>
                During these years I've seen a lot more of SysOps than I want to admit, but I have still managed
                to do development in some form or other, creating internal tools or customer facing portals 
                relevant to the ops-part. I've sunk my teeth in networking, security, servers and a lot of the
                Microsoft enterprise suit of software, like AD, DHCP, DNS etc. 
            </p>
            <p>
                I am familiar with a lot of things, even though I wouldn't call myself a Microsoft, networking, 
                security or server expert. I am also not religious with regards to the tech and tools I use, 
                though I do have my personal favorites, like we all do. Much love for VS Code, the Macbook and
                Docker Desktop! &lt;3
            </p>
        </div>
        <div th:replace="fragments/footer :: footer">Footer</div>
    </body>
</html>