<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<head th:replace="fragments/header :: html_header">
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="'Faux News - Where Truth Is Optional'">Home Template</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
		<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
		<script src="../static/js/blog.js" th:src="@{/js/blog.js}"></script>
	</head>
    <body th:style="${#authorization.expression('isAuthenticated()')} == false ? '--userdetails-height:0px; --nav-height: var(--toolbar-height);'">
        <div class="header" th:replace="fragments/header :: header">
            <nav>
                <img id="logo" src="https://picsum.photos/200/75">
                <div id="toolbar">
                    <ul>
                        <li class="menu-item"><a href="/" class="menu-button">Home</a></li>
                        <li class="menu-item"><a href="/about" class="menu-button">About</a></li>
                        <li class="menu-item"><a href="/login" class="menu-button">Log In</a></li>
                    </ul>
                </div>
            </nav>
        </div>
	    <div id="main-container" th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
	        <h1 th:text="|${#response.status} - ${httpStatus.reasonPhrase}|">404</h1>
	        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
	        <a href="/" th:href="@{/}">Back to Home Page</a>
	    </div>
        <div th:replace="fragments/footer :: footer">Footer</div>
    </body>
</html>