<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Footer template</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">	
		<link rel="stylesheet" href="../../static/css/styles.css" th:href="${'/css/styles.css'}" />
	</head>
	<body>
		<div th:fragment="footer" id="footer">
			<div class="footer-content">
				<div class="footer-left">
					<h3>About the project</h3>
					<p>
						This is a demo project created by Morten Olsrud, imitating a typical blog 
						or news site layout with flowing articles, notices and a large hero article at the top.</p>
					<p>
						The project is made in Java with Spring Boot Framework using Thymeleaf for templating. 
						It connects to a database, handles authentication and runs in the cloud. The project
						includes a simplistic editor for writing the articles as well, behind a login.
					</p>
					<p>Check out the code on <a href="https://github.com/hakash/faux-news" target="_blank">GitHub</a>.</p>
				</div>
				<div class="footer-right">
					<h3>About the author</h3>
					<p>
						My name is Morten Olsrud, and I've been coding on and off in some way or another since the 90's,
						starting out in QBasic on MS-DOS before the world wide web existed. Picked up HTML et. al. in the 
						later part of that decade, and have been at it ever since.
					</p>
					<p>
						 I have dabbled a bit with a lot of different tech, worked too long in operations, done
						 some work as technical advisor in projects, assisted in large technical procurements
						 and I have a backlog of interesting coding projects so long that I need a few more lifetimes
						 to finish them all.
					</p>
					<p> 
						Currently experimenting with writing technical articles, both for self publishing and as a 
						paid freelancer for online publications. You can see some of my links at the bottom, if you are 
						interested.
					</p>
					<div class="text-center">
						<ul class="icons">
							<li class="icon-item"><a href="https://twitter.com/canis1980" target="_blank" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
							<li class="icon-item"><a href="https://stackoverflow.com/users/2599184/canis" target="_blank" class="icon brands fa-stack-overflow alt"><span class="label">Stack Overflow</span></a></li>
							<li class="icon-item"><a href="https://www.linkedin.com/in/mortenolsrud/" target="_blank" class="icon brands fa-linkedin alt"><span class="label">LinkedIn</span></a></li>
							<li class="icon-item"><a href="https://github.com/hakash" target="_blank" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
							<li class="icon-item"><a href="https://medium.com/@morten.olsrud" target="_blank" class="icon brands fa-medium alt"><span class="label">Medium</span></a></li>
							<li class="icon-item"><a href="https://dev.to/hakash" target="_blank" class="icon brands fa-dev alt"><span class="label">DEV.TO</span></a></li>
							<li class="icon-item"><a href="https://acodersthoughts.wordpress.com/" target="_blank" class="icon brands fa-wordpress alt"><span class="label">My Blog</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<p class="text-center copyright">&copy; 2019 Morten Olsrud</p>
		</div>
	</body>
</html>